@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff");
    src: url("../fonts/MullerBold.woff2");
    src: local("MullerBold"), 
    url("../fonts/MullerBold.woff") format("woff"),
    url("../fonts/MullerBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff");
    src: url("../fonts/MullerLight.woff2");
    src: local("MullerLight"), 
    url("../fonts/MullerLight.woff") format("woff"),
    url("../fonts/MullerLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff");
    src: url("../fonts/MullerMedium.woff2");
    src: local("MullerMedium"), 
    url("../fonts/MullerMedium.woff") format("woff"),
    url("../fonts/MullerMedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff");
    src: url("../fonts/MullerRegular.woff2");
    src: local("MullerRegular"), 
    url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

:root {
    --color: #CC9933;
    --background-color: #fff;
}

html {
    font-family: "Muller", sans-serif;
    box-sizing: border-box;
}

body {
   background-color: #F1F1F1;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    outline: 1px solid transparent;
    transition: outline 500ms linear, outline-offset 500ms linear;
}

a:hover {
    outline: 1px solid #CC9933;
    outline-offset: 3px;
}

a:active {
    color: #A47312;
    outline: none;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    margin: 0;
    margin-left: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

/*Header*/

.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-content__phone {
    margin-right: auto;
    margin-left: 40px;
    font-weight: 500;
    color: #666666;
}

.header-content__link {
    padding-left: 29px;
    color: var(--color);
    background-image: url("../img/keyboard_tab.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.header-nav {
    font-weight: 400;
    min-height: 70px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 45px;
    justify-content: space-between;
    background-color: var(--background-color);
    border-radius: 15px;
}

.header-nav__left-list {
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../img/stick.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.header-nav__item {
margin: 0 45px 0 0;
}

.header-nav__link {
    color: #666666;
}

.header-nav__item:last-child {
    margin-right: 56px;
}

.header-nav__right {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    padding: 13px 20px;
    border: 1px solid var(--color);
    border-radius: 10px;
    color: var(--color);
    transition: transform 500ms linear, color 500ms linear;
}

.btn:hover {
    color: #fff;
    background-color:#CC9933;
    transform: scale(1.2 , 1.2);
    outline: none;
}

.btn:active {
    color: #fff;
    background-color: #A47312;
    transform: translateY(5px);
}

.header-nav__btn:not(:last-child) {
    margin-right: 60px;
}

/*Sale*/

.section-sale {
    margin-top: 70px;
}

.section-sale__item-name {
    padding-top: 40px;
    padding-right: 234px;
    padding-bottom: 15px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
}

.section-sale__item-price {
    padding-bottom: 43px;
    padding-left: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}

.section-sale__item-link {
    display:inline-block;
    margin-bottom: 41px;
    margin-left: 40px;
    padding-right: 16px;
    color: #FFCC66;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background-image: url("../img/Rectangle2.png");
    background-position: right;
    background-repeat: no-repeat;
}

.section-sale__list {
    display: flex;
    justify-content: center;
    margin-bottom: 69px;
}

.section-sale__list-item {
    height: 258px;
    width: 573px;
    margin: 20px 23px 0 0;
    border-radius: 15px;
}

.section-sale__list-item__small__first {
    background-image:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),  url("../img/Rectangle14-1.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}

.section-sale__list-item__small__second {
    background-image:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),  url("../img/Rectangle14.jpg");    
    background-size:contain;
    background-repeat: no-repeat;
}

.section-sale__list__small {
    flex-basis: 25%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-sale__list__large {
    margin-right: 0;
    flex-basis: 50%;
    font-weight: 700;
}

.section-sale__list-item__large {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 573px;
    height: 540px;
    background-image:linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/33.jpg");
}

.section-sale__item-name__large {    
    padding-right: 234px;
    font-size: 60px;
    line-height: 60px;
    flex-basis: auto;
}

.section-sale__item-price__large {
    padding-bottom: 43px;
    padding-left: 40px;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

/*About Us*/

.section-aboutus {
    margin-bottom: 70px;
}

.section-aboutus__text {
    max-width: 888px;
    font-size: 16px;
    line-height: 32px;
}

/*Services*/

.section-services {
    margin-bottom: 70px;
}

.section-services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.section-services__list-item {    
    width: 573px;
    margin-top: 20px;
    flex: 1 1 auto;
    background-color: var(--background-color);
    border-radius: 15px;
}

.section-services__list-item:not(:nth-child(2n)) {
    margin-right: 23px;
}

.section-services__link {
    display: inline-block;
    margin-top: 26px;
    margin-left: 45px;
    padding-right: 16px;
    background-image: url("../img/Rectangle2.png");
    background-position: center right;
    background-repeat: no-repeat;
    color: var(--color);
    font-size: 20px;
    line-height: 40px;
}

.section-services__text {
    margin: 0;
    padding: 0 126px 50px 45px;
    font-size: 16px;
    line-height: 32px;
}

/*Advantages*/

.section-advantages {
    margin-bottom: 70px;
}

.section-advantages__list {
    margin: 0;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}

.section-advantages__item {
    padding-left: 45px;
    max-width: 275px;
    min-height: 275px;
    margin-bottom: 23px;
    background-color: var(--background-color);
    border-radius: 15px;
}

.section-advantages__item-text {
    margin: 0;    
    margin-top: 45px;
    padding: 71px 42px 41px 0;   
    max-width: 188px;
    min-height: 118px;    
    font-size: 16px;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: top left;
}

.section-advantages__item:not(:nth-child(4n)) {
    margin-right: 23px;
}

.section-advantages__item-text__one {
    background-image: url("../img/bathtub.svg");
}

.section-advantages__item-text__two {
    background-image: url("../img/hanger.svg");
}

.section-advantages__item-text__three {
    background-image: url("../img/heating.png");
}

.section-advantages__item-text__four {
    background-image: url("../img/hotel-key.png");
}

.section-advantages__item-text__five {
    background-image: url("../img/parking.png");
}

.section-advantages__item-text__six {
    background-image: url("../img/reception.svg");
}

.section-advantages__item-text__seven {
    background-image: url("../img/security-box.png");
}

.section-advantages__item-text__eight {
    background-image: url("../img/swimming-pool.png");
}

/*Accomodation*/

.section-accomodation {
    margin-top: 70px;
}

.section-accomodation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-accomodation__list-item:not(:nth-child(3n)) {
    margin-right: 23px;
}

.section-accomodation__list-item{
    margin-bottom: 23px;
    margin-top: 23px;
    max-height: 440px;
    max-width: 374px;
    flex: 1 1 auto;
    background-color: var(--background-color);
    border-radius: 15px;
}

.section-accomodation__content {
    margin-bottom: 23px;
}

.section-accomodation-price-stars__price {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.section-accomodation-price-stars__stars {
    display: inline-block;
    margin-left: 44px;
}

.OT {
    margin: 0;
    display: inline-block;
    color: #999999;
}

.section-accomodation__info {
    padding: 36px 46px 54px 45px;
}
.section-accomodation__list-name {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 16px;
}

.section-accomodation__list-place {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.section-accomodation__list-link.btn {
    margin-right: 229px;
}

.section-accomodation__content__large {
    display: flex;
    width: 373px;
    height: 440px;
    align-items: center;
    background-image:linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/accomodation9.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
}

.section-accomodation__content__large:hover {
    transform: scale(1.05, 1.05);
}

.section-accomodation__link-all {
    padding-left: 54px;
    padding-bottom: 27px;
    align-self: flex-end;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #fff;    
    border-radius: 15px;
    background: url("../img/Rectangle2.svg");
    background-repeat: no-repeat;
    background-position-x: 307px;
    background-position-y: 384px;
}

.section-accomodation__link-all::before {
    content: '';
    display: block;
    height: 373px;
    width: 320px;
}

.section-accomodation__link-all:hover {
    outline: none;
}

/*Order*/

.section-order {
    /*height: 274px;*/
    margin-bottom: 80px;
    padding: 31px 45px 71px;
    background-color: #E9E9E9;
    border-radius: 15px;
}

.section-heading.order {
    margin-bottom: 9px;
}

.section-order-content {
    padding: 31px 28px 32px;
    display: flex;    
    justify-content:center;
    align-items: center;
    flex: 1 1 auto;
    width: 1024px;
    /*height: 106px;*/
    background-color: var(--background-color);
    border-radius: 15px;
}


label {
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.first-menu {
    margin-left: 20px;    
    padding-right: 20px;
    border: none;
    border-right: 1px solid #CCCCCC;   
}

.first-menu:first-child {
    margin-left: 0;
}

.first-menu:nth-child(3n) {
    padding-right: 0;
}

.order.btn {
    margin-left: 20px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: var(--background-color);
}

.order.btn:hover {
    color: #fff;
    background-color:#CC9933;
}

.order.btn:active {
    color: #fff;
    background-color: #A47312;
}

.section-order-menu {
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.section-order-numbers {
    width: 121px;
    border: none;
    border-bottom: 1px solid #CCCCCC;
}

/*Contacts*/
.section-contacts {
    margin-bottom: 19px;
}

.section-heading.contacts {
    margin-bottom: 26px;
}

.contacts-content-info {    
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.contacts-content {    
    width: 375px;
    height: 528px;
    margin: 44px 50px 46px 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.contacts-container {
    display: flex;
    background-color: var(--background-color);
    border-radius: 15px;
}

.contacts-img {
    margin: 44px 44px 46px 0;
}

.contacts-content-row {
    padding-bottom: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: 1px solid #C4C4C4;    
}

.contacts-content-text {
    max-width: 229px;
    margin: 0;
    margin-top: 25px;
    margin-left: auto;
}

.contacts-content-text.one {
    margin-top: 0;
}

.content-link {
    color: var(--color);
}

.contacts-content-text.email {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.btn.contacts {
    padding: 27px 29px;
    margin: 0;
}

/*Footer*/

.footer-content {    
    margin-bottom: 30px;
    padding: 44px 51px 46px 52px;
    height: 251px;
    color: white;
    background-color: #333333;
    border-radius: 15px;
    display: flex;
    justify-content:flex-start;    
    background-image: url("../img/Frame11.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 737px;
    /*width: 1168px;*/
    /*position: absolute;
    z-index: 2;*/
}

/*.footer-logo {
    position: relative;
    z-index: 1;
    left: 746px;
    top: 111px;
}*/

.footer-text {
    margin: 0;
}

.footer-policy {
    max-width: 320px;
    margin-right: 102px;
}

.footer-policy-text {
    width: 320px;
    height: 178px;
    margin-bottom: 49px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-contacts {
    max-width: 360px;
}

.footer-text.adress {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.footer-contacts-phone {
    margin-bottom: 15px;
}

.footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color);
}

.footer-social {
    width: 25px;
    /*height: 205px;*/
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.trip-advisor {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    /*background-image: url("../img/tripadvisor.svg");    
    background-repeat: no-repeat;
    background-size: contain;*/
}

.twitter {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    /*background-image: url("../img/twitter.png");    
    background-repeat: no-repeat;    
    background-size: contain;*/
}

.facebook {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    /*background-image: url("../img/facebook.png");    
    background-repeat: no-repeat;
    background-size: contain;*/
}

.vk {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    /*background-image: url("../img/social.png");    
    background-repeat: no-repeat;
    background-size: contain;*/
}

.instagram {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    /*background-image: url("../img/instagram.png");    
    background-repeat: no-repeat;
    background-size: contain;*/
}

.social {
    transition: fill 500ms linear;
}

.social:hover path {
    fill: #CC9933;
}